# docref-abem-verification - Credentials PSV Primary Source IG v1.0.0

* [**Table of Contents**](toc.md)
* [**Artifacts Summary**](artifacts.md)
* **docref-abem-verification**

## Example DocumentReference: docref-abem-verification

**status**: Current

**type**: Board certification verification (ABEM)

> **content**

### Attachments

| | | |
| :--- | :--- | :--- |
| - | **ContentType** | **Url** |
| * | text/html | [https://www.abem.org/verify?certId=ABEM-445566](https://www.abem.org/verify?certId=ABEM-445566) |




## Resource Content

```json
{
  "resourceType" : "DocumentReference",
  "id" : "docref-abem-verification",
  "status" : "current",
  "type" : {
    "text" : "Board certification verification (ABEM)"
  },
  "content" : [
    {
      "attachment" : {
        "contentType" : "text/html",
        "url" : "https://www.abem.org/verify?certId=ABEM-445566"
      }
    }
  ]
}

```
