# docref-abim-verification - Credentials PSV Primary Source IG v1.0.0

* [**Table of Contents**](toc.md)
* [**Artifacts Summary**](artifacts.md)
* **docref-abim-verification**

## Example DocumentReference: docref-abim-verification

**status**: Current

**type**: Board certification verification (ABIM)

> **content**

### Attachments

| | | |
| :--- | :--- | :--- |
| - | **ContentType** | **Url** |
| * | text/html | [https://verify.abim.org/cert?certId=ABIM-000111222](https://verify.abim.org/cert?certId=ABIM-000111222) |




## Resource Content

```json
{
  "resourceType" : "DocumentReference",
  "id" : "docref-abim-verification",
  "status" : "current",
  "type" : {
    "text" : "Board certification verification (ABIM)"
  },
  "content" : [
    {
      "attachment" : {
        "contentType" : "text/html",
        "url" : "https://verify.abim.org/cert?certId=ABIM-000111222"
      }
    }
  ]
}

```
